/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    padding: 1px;
    font-size: 15px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    height: 100%;
    width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
    margin-top: 0;
    padding-top: 0;
}


.main-container .header-li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

.main-container h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

.euro {
    font-weight: 700;
}

h4 {

    margin-top: 20px;
    font-size: 20px;
}

h2 {
    margin-top: 50px;
}

h5 {
    margin-top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

p {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 15px;
    line-height: 21px;
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 21px;
}

#icon_info {
    display: block;
    height: 0px;
    background-image: url("../images/info.png");
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px lightgray;
    border-radius: 50%;
    padding: 13px;
    margin-right: 10px;
}

/******Header*******/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
}

header .imglogo {
    width: 61.09px;
    height: 19px;
}

header .container-header-link {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 0;
}

header a {
    color: black;
    margin-right: 40px;
    text-decoration: none;
    padding: 23px 10px;
}

header a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding: 21px 10px;
}

/********Liste*********/

.filters {
    display: flex;
    align-items: center;

}

.ul-header {
    display: flex;
    list-style: none;
}


ul .header-li {
    margin: 0 20px;
}

.header-li button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    border: black;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    text-align: center;
    vertical-align: center;
    padding-right: 20px;
    background-color: white;
}

.header-li button:hover {
    background-color: #DEEBFF;
}

ul img {
    margin: 0 20px;
}

/********Formulaire********/

.searchbar-pc {
    display: block;
}

.searchbar-smartphone {
    display: none;
}

form {
    display: flex;
    align-items: center;
}

form div {
    width: 50px;
    background: #F2F2F2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

form div img {
    position: relative;
    width: 14px;
    height: 18px;
    left: 18px;
    top: 15px;
}


form button {
    border: none;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 20px;
}

form input {
    border-radius: 1.5%;
    border: solid 0.9px #F2F2F2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

form input::placeholder {
    color: black;
    text-align: center;
}

form div,
input,
form button {
    height: 49px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    margin: 0;
    width: 100%;
    height: 70%;

}

/****** Hebergements ***********/

.hebergements {
    padding: 20px;
    margin-right: 25px;
    background: #F2F2F2;
    border-radius: 15px;
    height: 80%;
    width: 68%;
}

.hebergementcard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.hebergements .card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0px 0px 26px;
    margin: 2% auto;
    width: 30%;
}

.hebergements .card .img {
    display: flex;
    height: auto;
    width: 95%;
    margin: 6px auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .card .card-content {
    margin-left: 17px;
}

.hebergements .card .card-rating,
.hebergements .card .card-subtitle,
.hebergements .card .card-content .card-txt .card-title {
    margin: 0px;
    height: 10%;
    font-size: 14px;
}


.hebergements .card-title {
    font-size: 2.2vh;
    margin-top: 20px;
}
.afficher{
    font-weight: bold;
    font-size: 17px;
}
/****** Populaires ***********/

.populaires {
    /* background color white populaire */
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    margin-left: 25px;
    background: #F2F2F2;
    border-radius: 15px;
    width: 28%;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 70%;
    margin-top: 3%;
}

.populaires-cards .cards2 {
    display: flex;
    width: 100%;
    height: 170px;
    background: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.populaires-cards .cards2 img {
    width: 45%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 5px;
    padding: 5px;
    margin: 0;
    height: 150px;
}

.populaires-cards .card-content {
    width: 67%;
    height: 100px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-content .card-subtitle {
    margin: 0;
}

.populaires-cards .card-content .card-rating {
    margin-bottom: 5px;
}

.containercard-content2 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
    width: 226px;
    height: auto;
}

.imglogopop{
    margin-bottom: 14px;
    width: 15px;
    height: 15px; 
}

.les_plus_populaires{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 19px;
}

/*********Activities*********/

.activites {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 100%;
    border-radius: 25px;
}

.activites .cards1 {
    display: flex;
    flex: 20%;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 15px;
    width: 50%;
    height: 100%;
}

.activites .cards1 .img2 {
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/*********Footer*********/

footer {
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;
}

footer .articlefooter {
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 446.67px;
    height: 163px;
}

footer .card-title-h3-footer {
    text-align: left;
    margin-bottom: -7px;
}

footer div,
footer ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
    margin: 0;
    padding: 0;
}

.footer-li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 6px 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries Tabelle ***********/


@media screen and (max-width: 1024px){

    h6 {
        width: 85%;
    }

    h4{
        margin-left: 25px;
    }
    .main-container {
        height: 100%;
        width: 100%;
    }

    /************header***********/

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 18px;
        margin: 0 auto;
        width: 100%;
    }

    .container-header-link {
        margin-right: 0px;
    }


    /******** Liste *********/

    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
    }

    .filters h6 {
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .ul-header {
        display: flex;
        width: 279px;
        margin-top: 0px;
    }

    ul .header-li {
        margin: 0px 13px;
    }

    ul .header-li button {
        font-size: 13px;
        margin-left: 0px;
        width: 172px;
    }

    /******** hebergements-and-populaires ********/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }

    /******** Hebergements ********/

    .hebergements {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
        height: 790px;
    }

    .hebergementcard {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        height: 640px;
        margin: 0 auto;
        padding: 0;

    }

    .hebergements .card .img {
        width: 94%;
    }

    .hebergements article.card { 
        width: 30%;
        height: fit-content;
    }

    .afficher{
        margin-top: 41px;
        margin-left: 16px;
    }

    /********* Populaires**********/*

    .les_plus_populaires{
        margin-left: 20px;
        margin-bottom: 0px;
    }

    .imglogopop{
        margin-right: 20px;
    }

    .populaires {
        flex: 85%;
        margin: 0px;
        margin-top: 45px;
        width: 100%;
        padding: 0px;
    
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    .populaires-cards .cards2 {
        width: 30%;
        height: 153px;
        margin: 0px;
        margin-bottom: 11px;
    }

    .populaires-cards .card-title {
        font-size: 76%;
    }

    .populaires-cards .card-subtitle {
        font-size: 70%;
    }

    .populaires-cards .cards2 img {
        height: auto;
        width: 35%;

    }
    .iconpop {
        width: 10px;
        height: 10px;
    }
    /********** Activités***********/

    .activites {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding-top: 37px;
    }

    .activites .cards1 {
        width: 170px;
        display: flex;
        height: 293px;
    }

    .activites .cards1 .img2 {
        width: 100%;
        height: 63%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .activites h3 {
        text-align: center;
    }

    /********** Footer ***********/

    footer {
        width: 100%;
    }

    footer ul {
        width: 100%;
    }

    footer .articlefooter {
        padding: 3%;
        width: 30%;
    }

}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries Mobile ***********/

@media screen and (max-width: 768px){

    html {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }

    /**********Formulaire*********/

    .searchbar-pc {
        display: none;
    }

    .searchbar-smartphone {
        display: block;
    }

    form {
        margin: 35px 24px;
    }

    form button {
        border: none;
        background: none;
        border: none;
        border-radius: 0px 15px 15px 0px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        padding: 0;
    }

    /**********Général************/
    
    .icon p {
        margin-right: 72px;
        margin-left: 22px;
    } 

    .main-container { 
        margin: 0;
        width: 100%;
        padding: 0;
    }

   
    h4 {
        width: 100%;
        margin-top: 54px;
        margin-bottom: 0px;
        
    }

    h2,
    h5 {
        display: block;
        width: 100%;
        overflow-wrap: break-word;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;
    }

  

    /*************** Liste ****************/

    .ul-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 0px;
    }

    .main-container ul .header-li {
        padding: 9px;
        width: 41%;
        margin: 1px;   
    }

    ul .header-li button {
        width: 100%;
        padding: 12px;
        padding-right: 27px;
        margin: 0 auto;
        font-size: 83%;
        text-align: left;
        align-items: center;
    }

    ul .header-li {
        text-align: left;
    }

    ul img {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }


    /************ Header ************/
    header {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 30px;
        width: 100%;
    }

    header .imglogo {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    header .container-header-link a {
        border-top: 0px;
        width: 100%;
        margin: 0;
        border-bottom: 2px solid lightgrey;
        text-align: center;
    }

    header .container-header-link a:hover {
        border-bottom: 2px solid #0065FC;
    }

    header .container-header-link {
        max-width: 100%;
        margin: 0;
    }

    /************* Hebergements et Populaire ************/

    .hebergements-and-populaires {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
        margin-left: 5px;
    }

    /************* Hebergements ************/

    .hebergements {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        background: none;
       
    }

    .hebergementcard {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 14px;
        width: 100%;
        height: 100%;
    }

    .hebergements .card .img {
        width: 94%;
        height: 177px;
        margin: 8px auto;
    }

    .hebergements article.card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    
    }

    .hebergements .card-content {
        margin: 6px 0 19px 10px;
    }

    .hebergements .card-title {
        font-size: 110%;
    }

    .hebergementcard .card .card-content .card-txt .card-subtitle {
        margin: 2% 0;
    }
    .afficher{
        width: 100%;
    }

    /*********Populaires**********/

    .populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 20px;
    
    }

    .populaires-cards {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;

    }

    .populaires-cards .cards2 {
        display: flex;
        align-items: center;
        width: 100%;
        height: 145px;
    }

    .populaires-cards .cards2 img {
        width: 32%;
        height: 92%;
    }

    .les_plus_populaires { 
        width: 100%;
    
    }

    /*********** Activités***********/

    .activites {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
     
        padding: 0;
        width: 100%;
    }

    .activites .cards1 {
      
        align-items: center;
        margin: 30px auto;
        padding: 0;
        width: 100%;
        height: auto;
    }

    .activites .cards1 .img2 {
        width: 100%;
        height: 166px;
        
    }

    .activites h3 {
        text-align: left;
    }

    /**********Footer*********/

    footer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }   
        
    footer .articlefooter {
        width: 100%;
        padding: 0;
    }

}