/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    padding:0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.euro {
    font-weight: 700;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 611.5px;
    order: 1;
    padding: 0px;
}

/****** Hebergements ***********/

.hebergements {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 90px;
    margin: 0;
    margin-right: 25px;
    width: 68%;
    height: auto;
    background: #F2F2F2;
    border-radius: 15px;
}

/* card hebergements */

.hebergements .card {
    display: flex;
    flex-direction: column;
    flex: 20%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 207.25px;
    margin: 10px;
    padding: 0;
    width: 268px;
}

.hebergements .card .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 124px;
    margin: 6px auto;
    width: auto;
}

.hebergements .card .card-txt,
.hebergements .card .card-rating,
.hebergements .card .card-subtitle,
.hebergements .card .card-content .card-txt .card-title {
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

.hebergements .card .card-rating {
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.hebergements .card img {
    object-fit: cover;
    width: 100%;
    margin: auto 0;
    padding: 0 -10px;
}

.hebergements .card-title {
    font-size: 16px;
}

/****** Populaires ***********/

.populaires { /* background color white populaire */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0;
    margin-left: 25px;
    margin-right: 50px;
    width: 25%;
    height: 611.5px;
    background: #F2F2F2;
    border-radius: 15px;
}

.populaires-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 22px;
    margin-top: -22px;
}

.populaires-cards img {
    width: 123px;
    height: 144px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 5px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    width: auto;
    height: 144px;
    margin-top: -40px;
}

.populaires-cards .card-content {
    width: 67%;
    height: 100px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-content .card-subtitle {
    margin: 0;
}

.populaires-cards .card-content .card-rating {
    margin-bottom: 5px;
}

.hebergements .card .img {
    width: 250.33px;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites {
    display: flex;
    background: white;
    margin-top: 30px !important;
    width: 97%;
    padding: 20px;
    border-radius: 25px;

}

#title-h3-header {
    position: relative;
    bottom: -80px;
    padding-left: 20px;
}

#title-h3-marseilles {
    position: relative;
    top: 20px;
    left: 20px;
}

.title-display-more {
    margin-top: 30px;
}

footer {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 97%;
    height: 200px;
    margin-bottom: -30px;
}

footer div,
footer ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 163px;
    width: 300px;
    margin: 0;
    padding: 0;
}

footer .card-title-h3-footer {
    text-align: left;
    margin-bottom: -7px;
}

.footer-li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 6px 0;
}

/* Activities */

.activites {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}

.activites .cards1 .img2 {
    width: 297.5px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites .cards1 {
    display: flex;
    flex: 20%;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 15px;
    width: 297.5px;
}

.populaires-cards .cards2 {
    display: flex;
    width: 380px;
    height: 170px;
    background: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.populaires-cards .cards2 img {
    padding: 10px;
    margin: 0;
    height: 150px;
}

.containercard-content2 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
    width: 226px;
    height: auto;
}

footer .articlefooter {
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 446.67px;
    height: 163px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header .imglogo {
    width: 61.09px;
    height: 19px;
}

header .container-header-link {
    display: flex;
    justify-content: flex-end;
}

header a {
    color: black;
    margin-top: 0;
    margin-right: 40px;
    text-decoration: none;
    padding: 25px 10px;
}

header a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    margin-top: 2px;
    padding-top: -4px;
    padding-bottom: 5px;
}

h2 {
    margin-top: 50px;
}

h5 {
    margin-top: -5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 758px;
    height: 50px;
}

.ul-header {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 30px -60px 30px 30px;
}

ul .header-li {
    margin: 0 20px;
}

ul img {
    margin: 0 20px;
}

.header-li button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    border: black;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    text-align: center;
    vertical-align: center;
    padding-right: 20px;
    background-color: white;
}

.main-container .header-li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.main-container h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

/* Formulaire */

form div,
input,
form button {
    height: 49px;
}

form {
    display: flex;
    align-items: center;
}

form div {
    width: 50px;
    background: #F2F2F2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

form div img {
    position: relative;
    width: 14px;
    height: 18px;
    left: 18px;
    top: 15px;
}

form button {
    border: none;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 20px;
}

form input {
    border-radius: 1.5%;
    border: solid 0.9px #F2F2F2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

form input::placeholder {
    color: black;
    text-align: center;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) { 
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        column-count: 1;
    }

    .populaires {
        flex: 100%;
    }

    .hebergements article.card {
        flex: 1;
    }

    .populaires-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 900px;
    }

    .cards1 {
        display: flex;
        flex: 1 0 90px;
    }

    .img2 {
        width: 50%;
        height: 50%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .ul-header {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0;
        width: 50%;
        height: auto;
        margin-top: 200px;
    }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 768px) {

    .main-container {
        padding: 0;
        margin: 0;
    }

    .imglogo,
    h2,
    h5 {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    header {
        display: block;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 30px;
        width: 100%;
    }

    header .container-header-link a {
        border-top: 0px;
        width: 100%;
        margin: 0;
        border-bottom: 2px solid lightgrey;
        text-align: center;
    }

    header .container-header-link a:hover {
        border-bottom: 2px solid #0065FC;
    }

    header .container-header-link {
        max-width: 768px;
        margin: 0;
    }

    h5, h2 {
        inline-size: 370px;
        overflow-wrap: break-word;
        margin-top: 20px;
        width: 50%;
        text-align: center;
        font-size: 1.5rem;
    }
    h6{
        margin-left: 45px;

    }
    form {
        margin: 35px 0;
        justify-content: center;
    }

    .ul-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        list-style: none;
        padding: 0;
        margin-left: 147px;
        margin-right: 147px;
        justify-items: center;
        align-items: center;
    }

    .header-li button {
        font-size: 1rem;
        width: 200px;
        margin: 0 auto;
    }

    .header-li {
        margin: 0 auto;
        width: 100px;
    }
    /* Hebergement */

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        max-width: 768px;
    }

    #title-h3-header {
        bottom: 890px;
    }
    
    .activites {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        padding-top: 1900px;
        width: 335px;
    }

    .cards1 {
        display: flex;
        flex: 20%;
        width: 297.5px;
        height: auto;
    }

    .cards1 .img2 {
        width: 297.5px;
        height: auto;
    }

    /* Populaires */
    
    .hebergements-and-populaires {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 768px;
        height: auto;
    }

    .populaires-cards .cards2 {
        display: flex;
        align-items: center;
        max-width: 335px;
        max-height: 146px;
    }

     .populaires-cards .cards2 img {
        max-width: 90.67px;
        max-height: 126px;
    }

    .populaires {
        margin: 0;
        margin-top: -2254px;
        max-width: 768px;
        align-items: center;
        width: 335px;
        padding: 10px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hebergements {
        margin-top: 900px;
        display: flex;
        flex-direction: column;
        max-width: 335px;
        column-count: 1;
    }

    #title-h3-marseilles {
        position: absolute;
        top: 3116px;
    }

    .activites .img2 {
        max-width: 315px;
        max-height: 141px;
    }

    .activites .card1 {
        max-width: 315px;
        max-height: 200px;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: auto;
        margin-top: 20px;
        width: 100%;
    }

    #title-h3-header {
        position: absolute;
        top: 1500px;
    }
}