/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}


.main-container .header-li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.main-container h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

.euro {
    font-weight: 700;
}

h1,
h4 {

    margin-top: 20px;
}

h2 {
    margin-top: 50px;
}

h5 {
    margin-top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

p {
    font-family: 'Raleway';
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
}

.icon {
    display: flex;
    align-items: center;
}

#icon_info {
    display: block;
    width: 3px;
    height: 0px;
    background-image: url("../images/info.png");
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px lightgray;
    border-radius: 50%;
    padding: 12px;
    margin-right: 10px;
}

/******Header*******/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .imglogo {
    width: 61.09px;
    height: 19px;
}

header .container-header-link {
    display: flex;
    justify-content: flex-end;
}

header a {
    color: black;
    margin-top: 0;
    margin-right: 40px;
    text-decoration: none;
    padding: 25px 10px;
}

header a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    margin-top: 2px;
    padding-top: -4px;
    padding-bottom: 5px;
}

/********Liste*********/

.filters {
    display: flex;
    align-items: center;

}

.ul-header {
    display: flex;
    list-style: none;
    width: 10px;
}


ul .header-li {
    margin: 0 20px;
}

.header-li button {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    border: black;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    width: 198px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    text-align: center;
    vertical-align: center;
    padding-right: 20px;
    background-color: white;
}

.header-li button:hover {
    background-color: #DEEBFF;
}

ul img {
    margin: 0 20px;
}

/********Formulaire********/

.searchbar-pc {
    display: block;
}

.searchbar-smartphone {
    display: none;
}

form {
    display: flex;
    align-items: center;
}

form div {
    width: 50px;
    background: #F2F2F2;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

form div img {
    position: relative;
    width: 14px;
    height: 18px;
    left: 18px;
    top: 15px;
}


form button {
    border: none;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 20px;
}

form input {
    border-radius: 1.5%;
    border: solid 0.9px #F2F2F2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

form input::placeholder {
    color: black;
    text-align: center;
}

form div,
input,
form button {
    height: 49px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    margin: 2%;
    width: 100%;
    height: 70%;

}

/****** Hebergements ***********/

.hebergements {

    padding: 20px;
    margin-right: 25px;
    background: #F2F2F2;
    border-radius: 15px;
    height: 80%;
    width: 68%;
}

.hebergementcard {
    display: flex;
    flex-wrap: wrap;
    width: 895px;
    height: 470px;
    margin-top: 46px;
    margin-bottom: 92px;
}



.hebergements .card {

    background-color: white;
    border-radius: 20px;

    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0px 0px 26px;

    margin: 2%;
    flex: 1;

}

.hebergements .card .img {
    height: 101px;
    width: 246px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 8px solid #FFFFFF;
}

.hebergements .card .card-content {
    margin-left: 10px;
}

.hebergements .card .card-txt,
.hebergements .card .card-rating,
.hebergements .card .card-subtitle,
.hebergements .card .card-content .card-txt .card-title {

    margin: 0px;
    height: 10%;
}


.hebergements .card-title {
    font-size: 16px;
    margin-top: 20px;
}

/****** Populaires ***********/

.populaires {
    /* background color white populaire */
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    margin-left: 25px;
    background: #F2F2F2;
    border-radius: 15px;
    width: 28%;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 70%;
    margin-top: 3%;
}

.populaires-cards .cards2 {
    display: flex;
    width: 380px;
    height: 170px;
    background: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.populaires-cards .cards2 img {
    width: 45%;
    height: 33%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 5px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 10px;
    margin: 0;
    height: 150px;
}

.populaires-cards .card-content {
    width: 67%;
    height: 100px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-content .card-subtitle {
    margin: 0;
}

.populaires-cards .card-content .card-rating {
    margin-bottom: 5px;
}

.containercard-content2 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0;
    width: 226px;
    height: auto;
}

/*********Activities*********/

.activites {
    display: flex;
    flex-wrap: wrap;
    background: white;
    width: 100%;
    border-radius: 25px;
}

.activites .cards1 {
    display: flex;
    flex: 20%;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 15px;
    width: 50%;
}

.activites .cards1 .img2 {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/*********Footer*********/

footer {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;
    height: 200px;
    margin-bottom: -30px;
}

footer .articlefooter {
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 446.67px;
    height: 163px;
}

footer .card-title-h3-footer {
    text-align: left;
    margin-bottom: -7px;
}

footer div,
footer ul {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 163px;
    width: 300px;
    margin: 0;
    padding: 0;
}

.footer-li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin: 0;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 6px 0;
}




/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries Tabelle ***********/


@media (max-width: 1024px) {


   
    h6 {
        width: 85%;
    }
    .main-container {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0 43px;
    }

    /************header***********/

    header {
        width: 85%;
    }
    .container-header-link {
        margin-right: 66px;
    }

    /******** Formulaire *********/

    .filters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
    }

    .filters h6 {
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .ul-header {
        display: flex;
        width: 279px;
        margin-top: 0px;
    }

    ul .header-li {
        margin: 0px 13px;
    }
    
    ul .header-li button {
        font-size: 13px;
        margin-left: 0px;
        width: 155px;
    }

    /******** hebergements-and-populaires ********/

    .hebergements-and-populaires {
        margin: 0;
        flex-direction: column;
        width: 85%;
    }

    /******** Hebergements ********/

    .hebergements {
        margin: 0;
        width: 82%;
        ;
    }

    .hebergementcard {
        width: 718px;
        height: 554px;
        margin-left: 31px;
        margin: 0 0px;
        padding: 0px;

    }

    .hebergements .card .img {
        width: 195px;
    }

    .hebergements article.card {
        flex: 1;
        width: 177px;
        height: 165px;

    }

    /********* Populaires**********/

    .populaires {
        flex: 85%;
        margin-left: 0;
        margin-top: 25px;
        width: 82%;
        padding-bottom: 43px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .populaires-cards .cards2 {
        width: 30%;
        height: auto;

    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards .cards2 img {
        height: 122px;

    }

    /********** Activités***********/

    .activites {
        width: 75%;
        padding-top: 37px;
    }

    .activites .cards1 {
        width: 170px;
        display: flex;
        flex: 1 0 90px;
        height: 293px;
    }

    .activites .cards1 .img2 {
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    /********** Footer ***********/
    footer {
        display: flex;
        width: 69%;
    }

    footer div,
    footer ul {
        width: 100%;
    }

    footer .articlefooter {
        padding: 0px;
        width: 30%;
    }



}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries Mobile ***********/

@media (max-width: 768px) {

   

    .searchbar-pc {
        display: none;
    }

    .searchbar-smartphone {
        display: block;
    }

    p {
        margin-right: 72px;
        margin-left: 22px;
    }

    .main-container {
        padding: 0;
        margin: 0;
    }

    h1,
    h4 {
        font-size: 100%;
        margin-left: 10px;
    }

    h2,
    h5 {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        inline-size: 370px;
        overflow-wrap: break-word;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 14px;

    }

    h6 {
        margin-left: 19px;
    }

    /************ Header ************/
    header {
        display: block;
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 30px;
        width: 100%;

    }

    header .imglogo {
        margin: 0 153px;
        margin-bottom: 10px;

    }

    header .container-header-link a {
        border-top: 0px;
        width: 100%;
        margin: 0;
        border-bottom: 2px solid lightgrey;
        text-align: center;
    }

    header .container-header-link a:hover {
        border-bottom: 2px solid #0065FC;
    }

    header .container-header-link {
        max-width: 768px;
        margin: 0;
    }

    /*********** Formulaire************/

    form {
        margin: 35px 11px;
    }
    form button {
        border: none;
        background: none;
        border: none;
        border-radius: 0px 15px 15px 0px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        padding: 0;
    }

    /*************** Liste ****************/
    .ul-header {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 0px;
    }

    ul .header-li {
        padding: 9px;
        width: 147px;
        margin: 0;
    }
    ul .header-li button {
        width: 138px;
        margin-left: 13px;
        padding: 6px;
    }

    ul img {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }

    /************* Hebergements et Populaire ************/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        max-width: 768px;
        width: 110%;
        margin-left: 5px;
    }
    /************* Hebergements ************/

    .hebergements {
        width: 108px;
        background: none;
    }
    .hebergementcard {
        margin-top: 91px;
        margin-left: 0px;
        width: 100%;
        margin-top: 10px;
        height: 100%;
    }

    .hebergements .card .img {
        width: 295px;
        height: 124px;
    }

    .hebergements article.card {
        width: 404px;
        height: 200px;
        margin: 20px 0;
    }
    
    /*********Populaires**********/

     .populaires {
        display: block;
        margin: 0;
        align-items: center;
        width: 85%;
        padding: 10px;
        margin-left: 0px;
    }
     .populaires-cards {
        display: flex;
        flex-direction: column;
        width: 98%;
        height: auto;

    }
    .populaires-cards .cards2 {
        display: flex;
        align-items: center;
        width: 331px;
        height: 145px;
    }

    .populaires-cards .cards2 img {
        max-width: 90.67px;
        max-height: 126px;
    }


    /*********** Activités***********/

    .activites {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .activites .cards1 {
        display: flex;
        margin: 30px 16px;
        width: 86%; 
        height: auto;
    }

    .activites .cards1 .img2 {
        width: 313px;
        height: 134px;
    }
  

    /**********footer*********/

    footer {
        display: flex;
        flex-direction: column;
        height: 473px;
        margin: 0;
        padding: 0 0 20px 0;
        margin-top: 20px;
        width: 100%;
    }
    footer .articlefooter {
        padding: 0px;
        width: 58%;
    }



}